.page{
    height: 100%;
}

.header{
    background: url(../../assets/image/logo1.png) 0% 18% / cover no-repeat;
    padding-right: 0; /*override antd style*/
}
.fullscreen{
    height: 88vh;
}

.text{
    line-height: 90vh;
    font-size: 40px;
    font-weight: 600;
}
