.page{
    overflow: auto;
    height: 100%;
    padding: 10px;
}
.table{
    margin-top: 20px;
}

.precautionLeftTitle{
    padding-top: 32px;
    padding-bottom: 32px;
    background-image: linear-gradient(-90deg, #0a6ad6 0%, #23e7ea 100%);
    font-size: 30px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.precautionRightTitle{
    padding-top: 32px;
    padding-bottom: 32px;
    background-image: linear-gradient(90deg, #ffd240 0%, #fa9442 100%);
    font-size: 30px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.row{
    display:flex;
}
.dobox{
    border-bottom: 1px solid #e6e9f2;
    padding: 20px;
    border:1px solid #e6e9f2;
    box-shadow: 0px 10px 20px 0px #e6e9f2;
}
.icon{
    width: 138px;
    height: 138px;
    border-radius: 50%;
    background-color: #f3f5f9;
    overflow: hidden;
    margin-right: 20px;
    display: inline-block;
    animation: iconRotate 15s linear infinite;
}

.suggestText{
    width: 310px;
    display: inline-block;
    font-size: 16px;
}
@keyframes iconRotate{
    from {
        transform:rotateZ(0deg);
    }
    to {
        transform:rotateZ(360deg);
    }
}

.handWash{
    margin-top: 20px;
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
    overflow: hidden;
}
.handWash img{
    animation: iconRotate 15s linear infinite;
}
.handWash div{
    font-size: 22px;
    margin-top: 10px;
}
